<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.google.code.p.tripdiary" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".TripListActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".DbTestActivity"></activity>
		<activity android:name="TripSettingsActivity" android:label="@string/settings_title"></activity>
		<activity android:name="TripViewActivity" android:label="@string/app_name"></activity>
		<activity android:name="TripGalleryActivity" android:label="@string/app_name"></activity>
		<activity android:name="TripMapActivity" android:label="@string/app_name"
			      android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name="TripExport" 
		          android:label="@string/trip_share">
		</activity>
		<activity android:name="AudioRecorder" 
		          android:label="@string/trip_audio">
		</activity>
		<activity android:name="TripNoteEditor" 
		          android:theme="@android:style/Theme.Light"
                  android:label="@string/trip_note"
                  android:screenOrientation="sensor"
                  android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity android:name="TripDiaryInfo"
                  android:label="@string/trip_info">
        </activity>   
        
        <service android:enabled="true"
                 android:name=".BackgroundGpsService" 
                 android:exported="false"
                 android:label="BackgroundGPSService">
        </service>
	</application>
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"></uses-sdk>
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA" />

	<uses-feature android:name="android.hardware.camera" />
</manifest>